.app-content {
    max-width: 600px;
    min-width: 255px;
    background: white;
    border-radius: 10px;
    margin: 16px auto;
    display: block;
    padding: 24px;
    color: black;
}

/* ----- Buttons ----- */

.search-button {
    width: 100%;
    color: white;
    background: #005689;
    font-weight: bold;
    border: 1px solid #005689;
}

.search-button:hover,
.search-button:active,
.search-button:focus {
    color: #005689;
    background: #d5eeff;
}

/* ----- Footer ----- */

.footer {
    text-align: center;
    padding-top: 24px;
    font-size: 12px;
}

.footer a {
    color: #005689;
}

.footer a:hover {
    color: #1a8dc6;
}